
nav{
    .navbar__bottom {
        #navbar-responsive {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -100%;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(143, 142, 122);
            transition: 0.5s;
        }
    }
}

html{
    scroll-behavior: smooth;
}

#navbar {
    height: 80px;
    transition: 0.5s;
}

#navbar.navbar-shrink {
    height: 60px;
}

#navbar2 {
    height: 50px;
    transition: 0.5s;
}

#navbar2.navbar2-shrink {
    height: 30px;
}


#backtop {
    position: fixed;
    bottom: -60px;
    right: 30px;    
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 4px;
    transition: 0.5s;
  }

  #backtop.backtop-show {
    bottom: 30px;
  }
  
  #loading {
	position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
	z-index: 100;
	transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}


@keyframes ldio-hm84cpo9rn {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-hm84cpo9rn div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-hm84cpo9rn linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-hm84cpo9rn div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}.ldio-hm84cpo9rn div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-xrhj4aiwng {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-hm84cpo9rn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}



#hero{
    background-color: orange;
       @media(min-width:768px){
        background: linear-gradient(
          to bottom,
          orange 40%,
          orange 40% 40%,
          black 40% 60%,
          black 60% 80%,
          orange 80%
        );
       }
        
            
}

.item{
    img{
       max-width: 24px;
       margin-left: auto;
       margin-right: auto;
    }
}

.w-64{
    max-width: 290px;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Lato:wght@700&family=Montserrat:ital,wght@1,200&family=Mulish:wght@500&family=Open+Sans&family=Orbitron:wght@700&family=PT+Sans&family=Playfair+Display:wght@700&family=Poppins:wght@400;700&family=Roboto:wght@300;400&family=Rubik:wght@500&family=Schoolbell&display=swap');
html{
    scroll-behavior: smooth;
}
#loading {
    position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    transition: 1s;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 0.5s;
}

#loading.loading-none {
    opacity: 0;
    z-index: -1;
}

/* #backtop{
    box-shadow: 0px 0px 5px 5px gray;
    border-radius: 10px;
    padding: 10px;
    background-color:orange;
    position: fixed;
    right: 20px;
    bottom: -50px;
    transition: 0.5s;
} */
/* #backtop.backtop-show {
    bottom: 50px;
} */

/* .navbar-shrink{
    height: 60px;
    box-shadow: 0px 0px 5px 5px orange;
    background-color: rgba(240, 193, 81, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
} */
.header__top{
    transition: 0.5s;
}
.navbar-shrink .header__top{
    position: absolute;
    top: -70px;
}
header{
    transition: 0.5s;
    height: 120px;
}

#navbar-responsive{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: red;
    width: 100%;
    left: -100%;
    height: 100vh;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: 0.5s;
    
}
#navbar-close{
    position: absolute;
    top: 30px;
    right: -40px;
    width: 100px;
}
#mode-btn{
    border-radius: 25px 0px 0px 25px;
    padding: 15px;
    display: flex;
    background-color: orange;
    position: fixed;
    top: 150px;
    right: 0px;
}
.dark #mode-btn{
    box-shadow: 0px 0px 5px 5px gray;
}
.dark  :is(main,footer,h1, .categoriy,.means__card,.milandi__right ){
    background-color: black;
    /* color: black; */
}
.dark *{
    color: white;
}
.dark .means__left{
    margin-top: 48px;
    box-shadow: 0px 0px 5px 5px orange;
}
.dark header{
    box-shadow: 0px 0px 5px 5px orange;
}
.dark .header__top{
    box-shadow: 0px 0px 5px 5px orange;
}
.dark .means__card{
    box-shadow: 0px 0px 5px 5px orange;
}
.dark footer{
    box-shadow: 0px 0px 5px 5px orange;
}
.dark .milandi__wrapper{
    box-shadow: 0px 0px 5px 5px orange;
}
